#title {
    background-color: #E76161;
}
.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FDF4F5;
}
.tle-sec {
    padding-top: 3%;
    padding-bottom: 10%;
}
p {
    font-size: 1rem;
}
/* dog pic */
.ip-dg {
    transform: rotate(25deg);
    position: absolute;
    top: 21%;
    right: 16%;
    width: 21%;
}
.nav-item {
    padding: 0 18px;
}
.download-button {
    margin: 5% 3% 5% 0;
}
/* media query section */
@media screen and (max-width:992px) {
    .ip-dg {
        transform: rotate(0);
        margin: 0 22%;
        position: static;
        width: 50%;
    }
    .tle-sec {
        text-align: center;
    }
}
/* media query section */

/* features section  */
#features {
    padding:7% 15%;
    background-color: white;
    position: relative;
}
.icns {
    margin-bottom: 1rem;
}
/* features section  */

/* testimonial section */
#testimonials {
    text-align: center;
    background-color: #F99B7D;
    color:#FDF4F5 ;
}
.testimonial-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image {
    border: 1px solid #FDF4F5;
    border-radius: 10%;
    padding: 1%;
    width: 10%;
    margin: 20px;
}
.quote {
    color: #BA90C6;
}
.carousel-item {
    padding:7% 15%;
}
/* testimonial section */

/* press section */
#press {
    background-color: #F99B7D;
    text-align: center;
}
.logo-imgs {
    margin: 20px 20px 70px;
    width: 15%;
}
h3 {
    font-family: 'Ubuntu', sans-serif;
}
/* press section */

/* pricing section  */

#pricing {
    padding:7% 15%;
    text-align: center;
    background-color: white;
}
.pricing-column {
    padding: 3% 0;
}
.pricing-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    text-transform: capitalize;
}

/* pricing section  */

/* cta section */

#cta {
    background-color:#E76161 ;
    padding:7% 15%;
    text-align: center;
}
.cta-head {
    font-family: 'Montserrat', sans-serif;
    color: #FDF4F5;
    font-size: 3rem;
    text-transform: capitalize;
    line-height: 1.5;
}


/* cta section */

/* footer */

#footer {
    background-color: white;
    padding:7% 15%;
    text-align: center;
}
.footer-text {
    font-size: 1.5rem;
    color: #B2B2B2;
}
.foot-icn {
    margin: 0 2% 4% 0;
}
.foot-icn:hover {
    color: #393E46;
}

/* footer */
.link-social {
    color: white;
    text-decoration: none;
}
.new-li {
    color: black;
}